{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<style>
    #editorjs {
        min-height: 300px;
        background: #fff;
    }
    .ce-toolbar__plus {
        left: 8px !important;
        transform: none !important;
    }
    .codex-editor--narrow .ce-toolbar__plus {
        left: 8px !important;
    }
    .codex-editor__redactor {
        padding-left: 1.5rem !important;
    }
</style>

<h2>📝 Создать статью</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>
    <div class="mb-3">
        {{ form.image.label_tag }}
        {{ form.image }}
    </div>

    <div class="mb-3">
        <label for="editorjs">Содержание:</label>
        <div id="editorjs" class="border p-3 rounded bg-white"></div>
        <input type="hidden" name="content_html" id="content_html">
    </div>

    <button type="submit" class="btn btn-primary">💾 Сохранить</button>
</form>

<!-- Подключение EditorJS и плагинов -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>

<script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.8.1/dist/bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@calumk/editorjs-codeflask@1.0.1/dist/bundle.js"></script>


<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>

<script>
    const editor = new EditorJS({
        holder: 'editorjs',
        tools: {
            header: Header,
            code: CodeTool,
            quote: Quote,
            table: Table,
            embed: Embed,

            image: {
              class: ImageTool,
              config: {
                 endpoints: {
                   byFile: 'static/postimg',
                   byUrl: 'static/postimg',
                 }
              }
            },


        },
        placeholder: 'Начните писать...',
        onReady: () => console.log('Editor.js готов'),
        onChange: async () => {
            const content = await editor.save();
            document.getElementById('content_html').value = JSON.stringify(content);
        }
    });
</script>
{% endblock %}