{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="mb-4">
    <h1>{{ article.title }}</h1>
    <p class="text-muted">
        👤 {{ article.author.username }} |
        🕒 {{ article.created_at|date:"d M Y H:i" }} |
        👁 {{ article.views }} просмотров
    </p>

    {% if article.content_html %}
    <div class="p-3 mb-4 bg-light border rounded shadow-sm">
        <h5>📄 Содержание статьи:</h5>
        <div>{{ article.content_html|safe }}</div>
    </div>
    {% endif %}

    {% if article.image %}
    <img src="{{ article.image.url }}" class="img-fluid rounded mb-4" alt="Изображение">
    {% endif %}

    {% if article.code_snippet %}
    <h5>💻 Код:</h5>
    <pre class="bg-dark text-light p-3 rounded shadow-sm"><code>{{ article.code_snippet|escape }}</code></pre>
    {% endif %}
</div>

<hr>
<hr>
<div class="mt-5">
    <h5>💬 Комментарии ({{ comments.count }})</h5>
    {% if comments %}
        <ul class="list-group mb-4">
            {% for comment in comments %}
                <li class="list-group-item">
                    <strong>{{ comment.author.username }}</strong> <span class="text-muted small">{{ comment.created_at|date:"d M Y H:i" }}</span>
                    <p class="mb-0">{{ comment.content }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">Пока нет комментариев.</p>
    {% endif %}

    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success mt-2">Отправить</button>
        </form>
    {% else %}
        <p class="text-muted">Чтобы оставить комментарий, <a href="{% url 'login' %}">войдите в аккаунт</a>.</p>
    {% endif %}
</div>

</br>



{% endblock %}

