{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  <h3 class="mb-4">🔐 Забыли пароль?</h3>
  <form method="post" class="card card-body shadow-sm">
    {% csrf_token %}
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" name="email" class="form-control" required placeholder="Введите email">
    </div>
    <button type="submit" class="btn btn-primary">Отправить код</button>
  </form>
</div>
{% endblock %}