{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  <h3 class="mb-4">🔁 Сброс пароля</h3>
  <form method="post" class="card card-body shadow-sm">
    {% csrf_token %}
    <div class="mb-3">
      <label for="password" class="form-label">Новый пароль:</label>
      <input type="password" name="password" class="form-control" required placeholder="Введите новый пароль">
    </div>
    <button type="submit" class="btn btn-warning">Сбросить пароль</button>
  </form>
</div>
{% endblock %}