{% extends 'blog/base.html' %}
{% block content %}
<div class="container mt-5">
  <div class="card p-4 shadow" style="max-width: 500px; margin: auto;">
    <h3 class="mb-3">🔐 Сброс пароля</h3>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label>Новый пароль</label>
        <input type="password" name="password1" required class="form-control">
      </div>
      <div class="mb-3">
        <label>Повторите пароль</label>
        <input type="password" name="password2" required class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Сбросить пароль</button>
    </form>
  </div>
</div>
{% endblock %}
